<?xml version="1.0" encoding="utf-8"?>
<web-app>

    <servlet>
        <servlet-name>HowServlet</servlet-name>
        <servlet-class>HowServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HowServlet</servlet-name>
        <url-pattern>/how</url-pattern>
    </servlet-mapping>

    <servlet> 
        <servlet-name>HeroListServlet</servlet-name> 
        <servlet-class>HeroListServlet</servlet-class> 
    </servlet> 
    
    <servlet-mapping> 
        <servlet-name>HeroListServlet</servlet-name> 
        <url-pattern>/listHero</url-pattern> 
    </servlet-mapping> 

    <servlet> 
        <servlet-name>HeroDeleteServlet</servlet-name> 
        <servlet-class>HeroDeleteServlet</servlet-class> 
    </servlet> 
    
    <servlet-mapping> 
        <servlet-name>HeroDeleteServlet</servlet-name> 
        <url-pattern>/deleteHero</url-pattern> 
    </servlet-mapping> 
</web-app>